<?xml version="1.0"?>
<!--
/**
 * Dot Collective - Magento Output 2009
 * Find more about Attribute Info Pages:
 * http://dot.collective.ro/magento-output/magento-shop-by-manufacturer-brand-character-attribute-info-pages/
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   DC
 * @package    DC_Catalog
 * @copyright  Copyright (c) 2009 Dot Collective SRL http://dot.collective.ro
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <DC_Catalog>
            <version>0.2.1</version>
        </DC_Catalog>
    </modules>
    <frontend>
        <routers>
         <attributeinfo>
            <use>standard</use>
            <args>
               <module>DC_Catalog</module>
               <frontName>attributeinfo</frontName>
            </args>
         </attributeinfo>
        </routers>
        <translate>
            <modules>
                <DC_Catalog>
                    <files>
                        <default>DC_Catalog.csv</default>
                    </files>
                </DC_Catalog>
            </modules>
        </translate>
      <layout>
          <updates>
              <dc_catalog>
                  <file>dc_catalog.xml</file>
              </dc_catalog>
          </updates>
      </layout>
    </frontend>

	<admin>
		<routers>
    	   <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
		         		<DC_Catalog before="Mage_Adminhtml">DC_Catalog_Admin</DC_Catalog>
		       		</modules>
                </args>
		   </adminhtml>
	     </routers>
	</admin>

    <global>
        <models>
            <dc_catalog>
                <class>DC_Catalog_Model</class>
                <resourceModel>dc_catalog_mysql4</resourceModel>
            </dc_catalog>
            <dc_catalog_mysql4>
                <class>DC_Catalog_Model_Mysql4</class>
                <entities>
                    <manufacturer>
                        <table>catalog_attribute_page</table>
                    </manufacturer>
                </entities>
            </dc_catalog_mysql4>
        </models>
        <resources>
            <dc_catalog_setup>
                <setup>
                    <module>DC_Catalog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dc_catalog_setup>
            <dc_catalog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dc_catalog_write>
            <dc_catalog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dc_catalog_read>
        </resources>
        <blocks>
            <dc_catalog><class>DC_Catalog_Block</class></dc_catalog>
        </blocks>
        <helpers>
            <dc_catalog>
                <class>
                    DC_Catalog_Helper
                </class>
            </dc_catalog>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <manufacturer>
                        <type>singleton</type>
                        <class>DC_Catalog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </manufacturer>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <DC_Catalog>
                    <files>
                        <default>DC_Catalog.csv</default>
                    </files>
                </DC_Catalog>
            </modules>
        </translate>
        <menu>
             <cms translate="title" module="cms">
                <children>
                    <manufacturers translate="title" module="dc_catalog">
                        <title>Attribute Info Pages</title>
                        <action>adminhtml/manufacturer</action>
                    </manufacturers>
                </children>
             </cms>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                       <cms>
                            <children>
                                <manufacturers translate="title">
                                    <title>Attribute Info Pages</title>
                                    <sort_order>0</sort_order>
                                </manufacturers>
                            </children>
                        </cms>
						<system>
							<children>
								<config>
									<children>
										<dc_catalog translate="title" module="dc_catalog">
											<title>Attribute Info Pages</title>
											<sort_order>41</sort_order>
										</dc_catalog>
									</children>
								</config>
							</children>
						</system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    
</config>
